<launch>

<!-- <node name="Track1" pkg="control" type="Track1.py" output="screen"/> -->
<!-- <node name="Track2" pkg="control" type="Track2.py" output="screen"/> -->
<!-- <node name="Track3" pkg="control" type="Track3.py" output="screen"/> -->
<node name="Track4" pkg="control" type="Track4.py" output="screen"/>

</launch>